%h1.page-header 经典收藏演示
.p15.bg-info 请新建一个项目，然后进入详情页面试用
%p

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th ID
      %th
      %th

  %tbody
    - @projects.each do |project|
      %tr
        %td= link_to project.id, project
        %td= link_to '修改', edit_project_path(project)
        %td= link_to '删除', project, :method => :delete, :data => { :confirm => '你确定?' }

%br

%a.btn.btn-primary{href: (new_project_path)} 新建项目
