%a.bucketerize.btn.btn-default{href: 'javascript:;', data: {rel: "bucketerize", bucketerize: {mode: 'standard', resource_type: 'Project', resource_id: @project.id}}} 收藏

%p

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path

