%a.like.btn.btn-info{href: 'javascript:;', data: {rel: "like", resource: {type: 'project', id: @project.id}}} 收藏

%p

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path

