%h1.page-header 交互收藏演示
.p15.bg-info 请新建一个图片，然后进入详情页面试用
%p

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th ID
      %th
      %th

  %tbody
    - @photos.each do |photo|
      %tr
        %td= link_to photo.id, photo
        %td= link_to '修改', edit_photo_path(photo)
        %td= link_to '删除', photo, :method => :delete, :data => { :confirm => '你确定?' }

%br

%a.btn.btn-primary{href: (new_photo_path)} 新建图片
