%a.bucketerize.btn.btn-default{href: 'javascript:;', data: {rel: "bucketerize", bucketerize: {mode: 'multi', resource_type: 'Photo', resource_id: @photo.id, bucket_type: 'Folder'}}} 添加到Folder

%p

= link_to 'Edit', edit_photo_path(@photo)
\|
= link_to 'Back', photos_path
